@using Entities
@using Microsoft.AspNetCore.Components.Authorization
@using Shared.DTO
@using Shared.Models
@using WebSite.Models
@using WebSite.Providers
@using WebSite.Services
@* @page "/" *@
@inject NavigationManager NavigationManager
<h1>Карточка сотрудника</h1>
<hr />
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <EditForm Model="@employee" Context="editContext" OnValidSubmit="SaveUser">
                <RadzenStack>
                    <RadzenFormField Text="Фамилия">
                        <RadzenTextBox Placeholder="Фамилия" @bind-Value="@employee.FirstName"/>
                    </RadzenFormField>
                    <RadzenFormField Text="Имя">
                        <RadzenTextBox Placeholder="Имя" @bind-Value="@employee.MiddleName" />
                    </RadzenFormField>
                    <RadzenFormField Text="Отчество">
                        <RadzenTextBox Placeholder="Отчество" @bind-Value="@employee.LastName" />
                    </RadzenFormField>
                    <RadzenFormField Text="Пол">
                        <RadzenDropDown Placeholder="Выберите пол" Data="@Genders" @bind-Value=@employee.Gender TextProperty="@nameof(Gender.Title)" ValueProperty="@nameof(Gender.Id)" />
                    </RadzenFormField>
                    <RadzenFormField Text="Дата рождения">
                        <RadzenDatePicker Placeholder="Дата рождения" TValue="DateTime" @bind-Value="@employee.DateOfBirth" />
                    </RadzenFormField>
                    <RadzenFormField Text="Телефон">
                        <RadzenTextBox Placeholder="Телефон" @bind-Value="@employee.Phone" />
                    </RadzenFormField>
                    <RadzenFormField Text="Роль">
                        <RadzenDropDown Placeholder="Выберите роль" Data="@Roles" @bind-Value=@employee.RoleId TextProperty="@nameof(RoleDTO.Title)" ValueProperty="@nameof(RoleDTO.Id)"  />
                    </RadzenFormField>
                    <RadzenFormField Text="Специализация">
                        <RadzenDropDown Placeholder="Выберите специализацию" Data="@Specializations" @bind-Value=@employee.SpecializationId TextProperty="@nameof(SpecializationDTO.Title)" ValueProperty="@nameof(SpecializationDTO.Id)" />
                    </RadzenFormField>
                    <RadzenFormField Text="Логин">
                        <RadzenTextBox Placeholder="Логин" @bind-Value="@employee.Login" />
                    </RadzenFormField>
                    <RadzenFormField Text="Пароль">
                        <RadzenTextBox Placeholder="Пароль" @bind-Value="@employee.Password" />
                    </RadzenFormField>
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenButton Text="Сохранить" Click="@SaveUser" />
                        <RadzenButton Click="@((args) => DialogService.Close(true))" Variant="Variant.Flat" Text="Close" Style="width: 120px" />
                    </RadzenStack>
                </RadzenStack>
            </EditForm>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>
@code {

}
