@using Blazored.LocalStorage
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.SignalR.Client
@using WebSite.Providers
@using WebSite.Services
<head>
    <RadzenTheme Theme="standart" />
</head>
<RadzenTheme Theme="standart" />

<Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="@OnNavigateAsync">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    [Inject]
    CookieThemeService CookieThemeService { get; set; }
    [Inject]
    private HubConnection HubConnection { get; set; }
    [Inject]
    private ThemeService ThemeService { get; set; }

    private CancellationTokenSource cts = new CancellationTokenSource();
    private async Task OnNavigateAsync(NavigationContext args)
    {

    }

    protected override async Task OnInitializedAsync()
    {
        await ConnectWithRetrySync(cts.Token);

        HubConnection.Closed += error =>
        {
            Console.WriteLine("Не удалось соединиться с сервером");
            return ConnectWithRetrySync(cts.Token);
        };
    }

    private async Task<bool> ConnectWithRetrySync(CancellationToken token)
    {
        Console.WriteLine("Попытка подлючмться к серверу");
        while (true)
        {
            if (HubConnection.State == HubConnectionState.Connected)
                return true;
            try
            {
                await HubConnection.StartAsync();
                Console.WriteLine("Подлюкчен к серверу");
            }
            catch when (token.IsCancellationRequested)
            {
                Console.WriteLine("Полный провал");
                return false;
            }
            catch
            {
                Console.WriteLine(HubConnection.State);
                Console.WriteLine("Соединение подключено");
                await Task.Delay(10000);
            }
        }
    }
}
